body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    background-color:rgb(0, 0, 0);
    border-bottom: 8px solid yellow;
    display: flex;
    align-items: stretch;
}

.links {
    padding-bottom: 30px;
    padding: 10px;
    margin-bottom: 20px;
    flex: 3;
}

.telephone-icon {
    width: 35px;
    height: 35px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

a:hover {
    color: #fffb00;
    font-weight: bold;
}

hr {
    height: 3px;
    background-color: black;
}

p {
    font-size: 25px;
}

h2 {
    font-size: 30px;
}

h1 {
    font-size: 40px;
}

.container {
    padding: 15px;
}

.card {
    border: 1px solid #505050;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.redbg {
    background-color: #ff0000;
}

.white {
    color: white;
}

.greenbg {
    background-color: green;
}

.logo {
    flex: 1;
    padding-top: 20px;
    padding-left: 15px;
}

.deadlinks {
    font-size: 20px;
    padding-bottom: 30px;
    padding: 10px;
    margin-bottom: 20px;
    flex: 3;
}

.active {
    color: #a0a0a0;
    font-weight: bold;
}

.col {
    display: 1;
    width: 50%;
    margin: 1em;
}

.columns {
    display: flex;

}

.center {
    text-align: center;
}

.lg-padding {
    padding-top: 3em;
    padding-bottom: 3em;
}

.FAQ {
    margin-bottom: 0;
}

.khakibg {
    background-color:khaki;
}

.black {
    color: black;
}

.navybluebg {
    background-color: navy;
}

.aquamarinebg {
    background-color:aquamarine;
}

li {
   font-size: 20px; 
}

.bluebg1 {
    background-color:#072F5F;
}

.bluebg2 {
    background-color:#1261A0;
}

.bluebg3 {
    background-color:#3895D3;
}

.bluebg4 {
    background-color:#58CCED;
}

.greenbg1 {
    background-color:#A4DE02;
}

.greenbg2 {
    background-color:#76BA1B;
}

.greenbg3 {
    background-color:#4C9A2A;
}

.purplebg1 {
    background-color:#8C319C;
}

.purplebg2 {
    background-color:#D56DFB;
}

.fa-solid, .fas {
    color: #fff;
}